# 0006.0001 Features - Season Progression

In [2]:
import pandas as pd
# import pandas as pd
# import matplotlib.pyplot as plt
# import numpy as np
# import seaborn
# from scipy.stats import poisson,skellam
# import statsmodels.api as sm
# import statsmodels.formula.api as smf
# import statsmodels.tools.sm_exceptions as sm_exceptions
# from patsy import dmatrix, dmatrices

In [3]:
def insert_game_day(df_orig):
    df = df_orig.copy(deep=True)
    df['game_day'] = df.groupby(by='date').ngroup(ascending=True)
    return df

In [4]:
epl_1617 = pd.read_csv("http://www.football-data.co.uk/mmz4281/1617/E0.csv", parse_dates=['Date'], dayfirst=True)
epl_1617 = epl_1617[['Date','HST', 'AST', 'HomeTeam','AwayTeam','FTHG','FTAG']]
epl_1617 = epl_1617.rename(columns={'Date': 'date','HomeTeam': 'h', 'AwayTeam': 'a',
                                    'FTHG': 'h_ftGoals', 'FTAG': 'a_ftGoals',
                                    'h_shotsOnTarget', 'a_shotsOnTarget'}).sort_values(by='date')
epl_1617 = insert_game_day(epl_1617)
epl_1617.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50

In [5]:
epl_1617.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [4]:
epl_1617.tail()

          date        h           a  h_ftGoals  a_ftGoals  game_day
372 2017-05-21  Chelsea  Sunderland          5          1       106
371 2017-05-21  Burnley    West Ham          1          2       106
370 2017-05-21  Arsenal     Everton          3          1       106
373 2017-05-21     Hull   Tottenham          1          7       106
379 2017-05-21  Watford    Man City          0          5       106

In [8]:
epl_1617['seasonPercentile'] = epl_1617['game_day'].rank(method='max', pct=True)
epl_1617.head()

,date,h,a,h_ftGoals,a_ftGoals,game_day,seasonPercentile
0,2016-08-13,Burnley,Swansea,0,1,0,0.018421
1,2016-08-13,Crystal Palace,West Brom,0,1,0,0.018421
2,2016-08-13,Everton,Tottenham,1,1,0,0.018421
3,2016-08-13,Hull,Leicester,2,1,0,0.018421
4,2016-08-13,Man City,Sunderland,2,1,0,0.018421

In [11]:
epl_1617.tail(15)

,date,h,a,h_ftGoals,a_ftGoals,game_day,seasonPercentile
365,2017-05-15,Chelsea,Watford,4,3,102,0.963158
366,2017-05-16,Arsenal,Sunderland,2,0,103,0.968421
367,2017-05-16,Man City,West Brom,3,1,103,0.968421
368,2017-05-17,Southampton,Man United,0,0,104,0.971053
369,2017-05-18,Leicester,Tottenham,1,6,105,0.973684
376,2017-05-21,Man United,Crystal Palace,2,0,106,1.000000
375,2017-05-21,Liverpool,Middlesbrough,3,0,106,1.000000
377,2017-05-21,Southampton,Stoke,0,1,106,1.000000
374,2017-05-21,Leicester,Bournemouth,1,1,106,1.000000
378,2017-05-21,Swansea,West Brom,2,1,106,1.000000
372,2017-05-21,Chelsea,Sunderland,5,1,106,1.000000
371,2017-05-21,Burnley,West Ham,1,2,106,1.000000
370,2017-05-21,Arsenal,Everton,3,1,106,1.000000
373,2017-05-21,Hull,Tottenham,1,7,106,1.000000
379,2017-05-21,Watford,Man City,0,5,106,1.000000